@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0;
}
